</main>

<footer>
  © Staffordshire Fire and Rescue <span>ROBLOX</span> • Professional Standards Portal • Disclaimer: We are in no way affiliated with SFRS in real life. This website is PURELY for ROBLOX.
</footer>

</body>
</html>
