body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#111;
    color:white;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#0b0b0b;
    border-top:4px solid #c00000;
}

.brand h1{
    margin:0;
    font-size:32px;
    color:white;
}

.brand span{
    color:#d90000;
}

.brand p{
    margin:0;
    color:#bbb;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    padding:100px;
    background:#111;
}

.hero h2{
    font-size:60px;
    margin:0;
}

.hero h3{
    color:#ddd;
}

.primary-btn{
    display:inline-block;
    background:#c00000;
    color:white;
    padding:15px 30px;
    text-decoration:none;
    margin-top:20px;
    border-radius:6px;
}

.modules{
    padding:60px;
    background:#161616;
}

.module-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
}

.module-card{
    background:#202020;
    padding:20px;
    border-radius:10px;
}

footer{
    background:#0b0b0b;
    text-align:center;
    padding:20px;
}
